#wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-justify-content: center;
   justify-content: center;
  width: 100%;
  min-height: 480px;
}

#wrapper img{
  display: block;
  margin: 0 auto;
  border: 0;
  width: 200px;
  height: auto;
}

#wrapper div{
  display: block;
}
